{% extends "pages/base.html" %}
{% block title %}
Danh sách sản phẩm
{% endblock %}
{% block content %}
<div class="collection">
    <div class="container">
        <div class="row">
            {% include "snippets/left_collections.html" %}
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="title_collection">
                    <a href="/"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-right"></i><a href="#"> Ipad</a>
                    <span class="button_view_search"><i class="fa fa-list" onclick="clickShowSearch('left_category');"></i></span>
                </div>
                {% include "snippets/banner_collection.html" %}
                {% include "snippets/side_collection.html" %}
                <div class="grid_collection_product">
                    {% for i in "x"|rjust:"12" %}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 no_padding">
                        {% include "snippets/product-grid-item.html" %}
                    </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
                <div class="pull-right">
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}