{% extends "website/base.html" %}
{% load staticfiles %}
{% load product_tags %}
{% load humanize %}
{% block title %}
Chi tiết hóa đơn
{% endblock %}
{% block content %}
<div class="order_detail">
    <div class="container">
        <div class="row">
            {% include "snippets/side-bar-product.html" %}
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="title_collection">
                    <a href="/"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-right"></i><a href="#">Trang cá nhân</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <a class="btn btn-default" onclick="HTMLtoPDF()">In hóa đơn</a>
            <div class="row" id="bill" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2 class="a_center">Hóa đơn HD{{ order.id }}</h2>
                    <hr>
                    
                    <div class="col-lg-6">
                        <div class="border_around col-lg-12 calculator">
                            <h3>Thông tin hóa đơn</h3>
                            <span class="col-lg-4">Ngày lập: </span><label>{{ order.created }}</label>
                            <div class="clearfix"></div>
                            {% if order.state == '2' %}
                            <span class="col-lg-4">Trạng thái: </span><label>Đang xử lý</label>
                            {% endif %}
                            {% if order.state == '1' %}
                            <span class="col-lg-4">Trạng thái: </span><label>Thành công</label>
                            {% endif %}
                            {% if order.state == '0' %}
                            <span class="col-lg-4">Trạng thái: </span><label>Thất bại</label>
                            {% endif %}
                            <div class="clearfix"></div>
                            <span class="col-lg-4">Tổng tiền: </span><label>{{ order.amount|intcomma }} VND</label>
                            <div class="clearfix"></div>
                            <span class="col-lg-4">Phí vận chuyện: </span><label>0 VND</label>
                            <div class="clearfix"></div>
                            <span class="col-lg-4">Hình thức thanh toán:</span><label>COD</label>
                            <div class="clearfix"></div>
                        </div>
                        <div class="border_around col-lg-12">
                            <h3>Thông tin người nhận</h3>
                            <span class="col-lg-4">Họ và tên: </span><label>{{ order.name }}</label>
                            <div class="clearfix"></div>
                            <span class="col-lg-4">Địa chỉ </span><label>{{ order.address }}</label>
                            <div class="clearfix"></div>
                            <span class="col-lg-4">Số điện thoại</span><label>{{ order.phone }}</label>
                            <div class="clearfix"></div>
                            <span class="col-lg-4">Ghi chú</span><label>{{ order.note }}</label>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% for item in merchants %}
                        <div class="border_around col-lg-12 calculator">
                            <h3>Thông tin người bán</h3>
                            <span class="col-lg-4">Tên người bán: </span><label>{{ item.name }}</label>
                            <div class="clearfix"></div>
                            <span class="col-lg-4">Cửa hàng: </span><label><a href="/shop/{{item.id}}">{{ item.name_shop}}</a></label>
                            <div class="clearfix"></div>
                            <span class="col-lg-4">Đánh giá:</span><label>{{ item.rating }}</label>
                            <div class="clearfix"></div>
                            {% if order.state == '1' or order.state == '0' %}
                            <span class="col-lg-4"></span><label>Đánh giá người mua</label>
                            <div class="clearfix"></div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="template_cart" style="border-top:1px solid #ebebeb;margin-top:15px;">
                        <h3 style="padding-left:15px; border-bottom:1px solid #ebebeb;margin-bottom:15px;padding-bottom:15px;">Sản
                            phẩm đã mua</h3>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table class="tbl_cart">
                                <tr>
                                    <th>Hình</th>
                                    <th>Sản phẩm</th>
                                    <th class="hidden-xs">Giá</th>
                                    <th class="hidden-xs">Số lượng</th>
                                    <th>Nguời bán</th>
                                    <th>Trạng thái</th>
                                    <th class="hidden-xs">Hành động</th>
                                </tr>
                                {% for item in order_detail %}
                                {% get_image_product item.product.id as image  %}
                                <tr>
                                    <td class="thumb_cart"> <img src="{{ image }}"></td>
                                    <td>{{ item.product.name }}</td>
                                    <td class="hidden-xs">{{ item.price|intcomma }} ₫</td>
                                    <td class="hidden-xs">{{ item.quantity }}</td>
                                    <td class="hidden-xs">{{ item.merchant.name }}</td>
                                    <td><a href="#">{{ item.state_display }}</a></td>
                                    {% if item.state != '1' and item.state != '0' %}
                                    <td>   
                                        <button onclick="cancel_order_item({{item.id}})">Hủy bỏ</button>
                                    </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <th class="hidden-sm hidden-md hidden-lg">Giá: </th>
                                    <td class="hidden-sm hidden-md hidden-lg">10.790.000 đ</td>
                                    <th class="hidden-sm hidden-md hidden-lg">Số luợng: </th>
                                    <td class="hidden-sm hidden-md hidden-lg">1</td>
                                </tr>
                                {% endfor %}

                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        {% if order.state == '2' %}
                        <button class="btn btn-success" id="success_order">Hoàn tất</button>
                        <button class="btn btn-warning" id="cancel_order">Hủy toàn bộ</button>
                        {% endif %}
                        <a href="/customer/history_order" class="btn btn-default">Trở về</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}

{% block zoom_img_js %}
<script src="{% static 'customer/src/js/bill.js' %}"></script>
<script src="{% static 'customer/src/js/jspdf.js' %}"></script>
<script src="{% static 'customer/src/js/jquery-2.1.3.js' %}"></script>
<script src="{% static 'customer/src/js/pdfFromHTML.js' %}"></script>
{% endblock %}