{% extends "pages/base.html" %}
{% load staticfiles %}
{% block title %}
Thông tin cá nhân
{% endblock %}
{% block content %}
<div class="order_detail">
    <div class="container">
        <div class="row">
            {% include "snippets/side-bar-product.html" %}
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="title_collection">
                    <a href="/"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-right"></i><a href="#">Trang cá nhân</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="border-top: 1px solid #ebebeb;position:relative">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2 class="a_center">Hóa đơn HD001</h2>
                    <hr>
                    <div class="border_around col-lg-6 calculator">
                        <h3>Thông tin hóa đơn</h3>
                        <span class="col-lg-4">Ngày lập: </span><label>12/12/2018</label>
                        <div class="clearfix"></div>
                        <span class="col-lg-4">Ngày giao hàng: </span><label>18/12/2018</label>
                        <div class="clearfix"></div>
                        <span class="col-lg-4">Trạng thái: </span><label>Đã nhận</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border_around col-lg-6">
                        <h3>Thông tin người mua</h3>
                        <span class="col-lg-4">Họ và tên: </span><label>Nguyễn Văn A</label>
                        <div class="clearfix"></div>
                        <span class="col-lg-4">Địa chỉ </span><label>Số 5 Nguyễn Trãi, Phường 3, Quận 5</label>
                        <div class="clearfix"></div>
                        <span class="col-lg-4">Số điện thoại</span><label>09789 789 789</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border_around col-lg-6 calculator">
                        <h3>Thông tin thanh toán</h3>
                        <span class="col-lg-4">Tổng tiền: </span><label>10.790.000 VND</label>
                        <div class="clearfix"></div>
                        <span class="col-lg-4">Phí vận chuyện: </span><label>0 VND</label>
                        <div class="clearfix"></div>
                        <span class="col-lg-4">Hình thức thanh toán:</span><label>COD</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border_around col-lg-6">
                        <h3>Thông tin người nhận</h3>
                        <span class="col-lg-4">Họ và tên: </span><label>Nguyễn Văn B</label>
                        <div class="clearfix"></div>
                        <span class="col-lg-4">Địa chỉ </span><label>Số 5 An Dương Vương, Phường 3, Quận 5</label>
                        <div class="clearfix"></div>
                        <span class="col-lg-4">Số điện thoại</span><label>09789 123 456</label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="template_cart" style="border-top:1px solid #ebebeb;margin-top:15px;">
                        <h3 style="padding-left:15px; border-bottom:1px solid #ebebeb;margin-bottom:15px;padding-bottom:15px;">Sản
                            phẩm đã mua</h3>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table class="tbl_cart">
                                <tr>
                                    <th>No.1</th>
                                    <th>Sản phẩm</th>
                                    <th class="hidden-xs">Giá</th>
                                    <th class="hidden-xs">Số lượng</th>
                                    <th class="hidden-xs">Tổng cộng</th>
                                    <th>Nguời bán</th>
                                    <th>Đánh giá</th>
                                </tr>
                                <tr>
                                    <td class="thumb_cart"> <img src="{% static 'website/images/product_1.jpg' %}"></td>
                                    <td>iPhone 7 Plus 32GB-iPhone 7 Plus 32GB</td>
                                    <td class="hidden-xs">10.790.000 ₫</td>
                                    <td class="hidden-xs">1</td>
                                    <td class="hidden-xs">10.790.000 ₫</td>
                                    <td><a href="#">Nguyễn Văn Tèo</a></td>
                                    <td><i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="hidden-sm hidden-md hidden-lg">Giá: </th>
                                    <td class="hidden-sm hidden-md hidden-lg">10.790.000 đ</td>
                                    <th class="hidden-sm hidden-md hidden-lg">Số luợng: </th>
                                    <td class="hidden-sm hidden-md hidden-lg">1</td>
                                </tr>

                            </table>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}