{% extends "website/base.html" %}
{% load staticfiles %}
{%block zoom_img%}
<!--Zoom {% static 'website/images-->
<link rel="stylesheet" href="{% static 'website/assets/cloudzoom.css' %} ">
<link rel="stylesheet" href="{% static 'website/assets/jquery.bxslider.css' %} ">
<style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
          }
          
          /* Style the buttons inside the tab */
          .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
          }
          
          /* Change background color of buttons on hover */
          .tab button:hover {
            background-color: #ddd;
          }
          
          /* Create an active/current tablink class */
          .tab button.active {
            background-color: #ccc;
          }
          
          /* Style the tab content */
          .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
          }
</style>
<!--End zoom-->
{%endblock%}
{% block title %}
Chi tiết sản phẩm
{% endblock %}
{% block content %}
<div class="product">
    <div class="container">
        <div class="row">
            {% include "snippets/side-bar-product.html" %}
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="title_collection">
                    <a href="/"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-right"></i><a id="product_title"> </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="content_product">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 left_content">
                            <div class="product__view__image--list">
                                <ul class="bxslider" id="bxslider">
                                    <li>
                                        <div class="thumb_image_quickview">
                                            <img class="cloudzoom" id="zoom1" data-cloudzoom="zoomSizeMode:'image',zoomPosition:'3', zoomOffsetX:0"
                                                src="{% static 'website/images/product_2.png' %}" alt="#" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb_image_quickview">
                                            <img class="cloudzoom" id="zoom1" data-cloudzoom="zoomSizeMode:'image',zoomPosition:'3', zoomOffsetX:0"
                                                src="{% static 'website/images/product_2.png' %}" alt="#" />
                                        </div>
                                    </li>
                                </ul>
                                <div id="bx-pager" class="bx-pager owl-carousel not-aweowl" data-lg-items="4" data-nav="true"
                                    data-md-items="3" data-sm-items="4" data-xs-items="2" data-xss-items="2"
                                    data-margin="0">
                                    <a data-slide-index="0" href=""><img src="{% static 'website/images/product_1.jpg' %}"
                                            alt="#" class="img-responsive" /></a>
                                    <a data-slide-index="1" href=""><img src="{% static 'website/images/product_1.jpg' %}"
                                            alt="#" class="img-responsive" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 right_content">
                            <h2 class="title" id="name_product"></h2>
                            <div class="information_product col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="form_quickview">
                                    <input type="hidden" name="id_product" value="#">
                                    <span class="col-xs-4">Phiên bản: </span>
                                    <select class="form-control choose_product" onchange="get_version(this.value)" id="version">
                                    </select>
                                    <div class="clearfix"></div>
                                    <!-- <span class="col-xs-4">
                                        Giá gốc:
                                    </span>
                                    <h3 class="price_disable line_throught">4.000.000 đ</h3>
                                    <div class="clearfix"></div> -->
                                    <!-- <span class="col-xs-4">
                                        Tiết kiệm:
                                    </span>
                                    <h3 class="price_disable">359.000 đ</h3>
                                    <div class="clearfix"></div> -->
                                    <span class="col-xs-4">Giá:</span>
                                    <h3 style="color:#f70302" id="price_product">3.359.000 đ</h3>
                                    <div class="clearfix"></div>
                                    <div id="quantity_choice">

                                    </div>
                                    <div class="clearfix"></div>
                                    <span class="col-xs-4">
                                        Tình trạng:
                                    </span>
                                    <span><b id="qty_avaliable"></b></span>
                                    <div class="clearfix"></div>
                                    <div class="submit_div">
                                        <button type="submit" class="btn_buy">Mua hàng</button>
                                    </div>
                                </div>
                            </div>
                            <div class="information_seller col-xs-12 col-sm-4 col-md-4 col-lg-4" id="merchant">

                            </div>
                        </div>
                        <div class="information_product col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding">
                            <div class="detail_product col-xs-12 col-sm-8 col-md-8 col-lg-8 " id="detail_product">
                                <div class="tab">
                                    <button class="tablinks active" onclick="openCity(event, 'Detail')">Chi tiết sản phẩm</button>
                                    <button class="tablinks" onclick="openCity(event, 'Rating')">Đánh giá - nhận xét</button>
                                </div>

                                <div id="Detail" class="tabcontent" style="display:block">
                                    <h3>London</h3>
                                    <p>London is the capital city of England.</p>
                                </div>

                                <div id="Rating" class="tabcontent">
                                    <h3>Paris</h3>
                                    <p>Paris is the capital of France.</p>
                                </div>
                                <script>
                                    function openCity(evt, cityName) {
                                        var i, tabcontent, tablinks;
                                        tabcontent = document.getElementsByClassName("tabcontent");
                                        for (i = 0; i < tabcontent.length; i++) {
                                            tabcontent[i].style.display = "none";
                                        }
                                        tablinks = document.getElementsByClassName("tablinks");
                                        for (i = 0; i < tablinks.length; i++) {
                                            tablinks[i].className = tablinks[i].className.replace(" active", "");
                                        }
                                        document.getElementById(cityName).style.display = "block";
                                        evt.currentTarget.className += " active";
                                    }
                                </script>
                            </div>
                            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 no_padding">
                                <table class="tbl_product" id="tbl_product">
                                    <thead>
                                        <tr>
                                            <th colspan="2" class="text-center">Thông số kỹ thuật</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl_product">

                                    </tbody>
                                </table>
                                <div clas="clearfix"></div>
                                <h3>Có thế bạn thích</h3>
                                <div clas="clearfix"></div>
                                {% for i in "x"|rjust:"3" %}
                                {% include "snippets/product-grid-item.html" %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="clearfix" style="margin: 10px 0px;"></div>
                        <div class="product_relate col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding">
                            <h2>Sản phẩm liên quan</h2>
                            <div class="owl-product-relate owl-carousel owl-theme">
                                {% for i in "x"|rjust:"4" %}
                                <div class="item">
                                    {% include "snippets/product-grid-item.html" %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block zoom_img_js %}
<!--Zoom image-->
<script src="{% static 'website/assets/jquery.bxslider.min.js' %} "></script>
<script src="{% static 'website/assets/cloudzoom.js' %} "></script>
<script src="{% static 'website/assets/product_script.js' %} "></script>
<script src="{% static 'website/src/js/post/index.js' %} "></script>
<!--End zoom-->
{% endblock %}