{% extends "pages/base.html" %}
{% load staticfiles %}
{%block zoom_img%}
<!--Zoom {% static 'website/images-->
<link rel="stylesheet" href="{% static 'website/assets/cloudzoom.css' %} ">
<link rel="stylesheet" href="{% static 'website/assets/jquery.bxslider.css' %} ">
<!--End zoom-->
{%endblock%}
{% block title %}
Chi tiết sản phẩm
{% endblock %}
{% block content %}
<div class="product">
    <div class="container">
        <div class="row">
            {% include "snippets/side-bar-product.html" %}
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="title_collection">
                    <a href="/"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-right"></i><a href="#"> Ipad</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="content_product">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 left_content">
                            <div class="product__view__image--list">
                                <ul class="bxslider">
                                    <li>
                                        <div class="thumb_image_quickview">
                                            <img class="cloudzoom" id="zoom1" data-cloudzoom="zoomSizeMode:'image',zoomPosition:'3', zoomOffsetX:0"
                                                src="{% static 'website/images/product_2.png' %}" alt="#" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb_image_quickview">
                                            <img class="cloudzoom" id="zoom1" data-cloudzoom="zoomSizeMode:'image',zoomPosition:'3', zoomOffsetX:0"
                                                src="{% static 'website/images/product_2.png' %}" alt="#" />
                                        </div>
                                    </li>
                                </ul>
                                <div id="bx-pager" class="bx-pager owl-carousel" data-lg-items="4" data-nav="true" data-md-items="3" data-sm-items="4" data-xs-items="2" data-xss-items="2" data-margin="0">
                                    <a data-slide-index="0" href=""><img src="{% static 'website/images/product_1.jpg' %}" alt="#"
                                            class="img-responsive" /></a>
                                    <a data-slide-index="1" href=""><img src="{% static 'website/images/product_1.jpg' %}" alt="#"
                                            class="img-responsive" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 right_content">
                            <h2 class="title">Iphones 7S</h2>
                            <div class="information_product col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <form class="form_quickview" action="#" method="post">
                                    <input type="hidden" name="id_product" value="#">
                                    <span class="col-xs-4">Màu sắc: </span>
                                    <select class="form-control choose_product">
                                        <option>Xanh</option>
                                        <option>Đỏ </option>
                                        <option>Tím</option>
                                    </select>
                                    <div class="clearfix"></div>
                                    <span class="col-xs-4">Dung lượng bộ nhớ: </span>
                                    <select class="form-control choose_product">
                                        <option>12gb</option>
                                        <option>24gb </option>
                                        <option>36gb</option>
                                    </select>
                                    <div class="clearfix"></div>
                                    <span class="col-xs-4">
                                        Số lượng:
                                    </span>
                                    <button class="button_add">-</button>
                                    <input value="1" class="input_add" maxlength="3" size="5" name="quantity" id="quantity">
                                    <button class="button_add">+</button>
                                    <div class="clearfix"></div>
                                    <span class="col-xs-4">
                                        Giá gốc:
                                    </span>
                                    <h3 class="price_disable line_throught">4.000.000 đ</h3>
                                    <div class="clearfix"></div>
                                    <span class="col-xs-4">
                                        Tiết kiệm:
                                    </span>
                                    <h3 class="price_disable">359.000 đ</h3>
                                    <div class="clearfix"></div>
                                    <span class="col-xs-4">
                                        Giá:
                                    </span>
                                    <h3 style="color:#f70302">3.359.000 đ</h3>
                                    <div class="clearfix"></div>
                                    <span class="col-xs-4">
                                        Tình trạng:
                                    </span>
                                    <span><b>Còn hàng (10 sản phẩm có sẵn)</b></span>
                                    <div class="clearfix"></div>
                                    <div class="submit_div">
                                        <button type="submit" class="btn_buy">Mua hàng</button>
                                    </div>
                                </form>
                            </div>
                            <div class="information_seller col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <h2>Thông tin người bán: </h2>
                                <p>Tên định danh: <a href="#">Tablet plaza </a></p>
                                <p>Đánh giá: <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </p>
                                <p style="color:#f58634;">Cấp bậc: <b>Vàng <i class="fa fa-trophy"></i></b></p>
                                <hr>
                                <a href="#">Ghé thăm gian hàng</a>
                                <br>
                                <a href="#">Liên hệ người bán</a>
                            </div>
                        </div>
                        <div class="information_product col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding">
                            <div class="detail_product col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
                                <h4>Đặc điểm nổi bật của iPhone 7 Plus 128GB Đỏ</h4>
                                <p>
                                    iPhone 7 Plus Red 128GB là phiên bản iPhone 7 Plus mới được Apple giới thiệu
                                    với màu
                                    sắc mới là màu Red nhằm kỉ niệm 10 năm hợp tác giữa Apple và (RED) – một tổ
                                    chức gây
                                    quỹ hỗ trợ phòng chống AIDS.
                                    <img src="{% static 'website/images/detail_product.jpg' %}">
                                </p>
                            </div>
                            <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 no_padding">
                                <table class="tbl_product">
                                    <tr>
                                        <th colspan="2" class="text-center">Thông số kỹ thuật</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            Màn hình:
                                        </td>
                                        <td> LED-backlit IPS LCD, 5.5", Retina HD</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Màn hình:
                                        </td>
                                        <td> LED-backlit IPS LCD, 5.5", Retina HD</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Màn hình:
                                        </td>
                                        <td> LED-backlit IPS LCD, 5.5", Retina HD</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Màn hình:
                                        </td>
                                        <td> LED-backlit IPS LCD, 5.5", Retina HD</td>
                                    </tr>
                                </table>
                                <div clas="clearfix"></div>
                                <h3>Có thế bạn thích</h3>
                                <div clas="clearfix"></div>
                                {% for i in "x"|rjust:"3" %}
                                {% include "snippets/product-grid-item.html" %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="clearfix" style="margin: 10px 0px;"></div>
                        <div class="product_relate col-xs-12 col-sm-12 col-md-12 col-lg-12 no_padding">
                            <h2>Sản phẩm liên quan</h2>
                            <div class="owl-product-relate owl-carousel owl-theme">
                                {% for i in "x"|rjust:"4" %}
                                <div class="item">
                                    {% include "snippets/product-grid-item.html" %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block zoom_img_js %}
<!--Zoom image-->
<script src="{% static 'website/assets/jquery.bxslider.min.js' %} "></script>
<script src="{% static 'website/assets/cloudzoom.js' %} "></script>
<script src="{% static 'website/assets/product_script.js' %} "></script>
<!--End zoom-->
{% endblock %}