{% extends "website/base.html" %}
{% load staticfiles %}
{% block title %}
Thông tin cá nhân
{% endblock %}
{%block zoom_img%}
<!--Datetime Picker-->
<style>
    .form-group{
        margin-bottom:0px;
    }
</style>
<link href="{% static '/admin/assets/css/bootstrap.css' %} " rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
<!--End-->
{%endblock%}
{% block content %}
<div class="profile_user">
    <div class="container">
        <div class="row">
            {% include "snippets/side-bar-product.html" %}
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="title_collection">
                    <a href="/"><i class="fa fa-home"></i></a>
                    <i class="fa fa-angle-right"></i><a href="#">Trang cá nhân</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row" style="border-top: 1px solid #ebebeb;position:relative">
                <a href="#" class="btn btn-warning to_merchant">Đăng ký bán hàng</a>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no_padding_desktop_1280">
                    <h3 class="title_user">Thông tin đăng nhập</h3>
                    {% comment %} <form action="#" method="post" class="frm_register"> {% endcomment %}
                    <div class="background_white" role="form">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 padding_label no_padding">
                                <label class="control-label">Tên tài khoản: </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input value="" disabled="disabled" type="text" class="form-control" id="inputUsername">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no_padding_desktop_1280">
                                <div class="errors_id">
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 padding_label no_padding">
                                <label class="control-label">Mật khẩu: </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input placeholder="********" type="password" class="form-control" id="inputPassword">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no_padding_desktop_1280">
                                <div class="errors_pw">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group" id="checkPassword">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no_padding padding_label">
                                <label class="control-label">Nhập lại mật khẩu: </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input placeholder="********" type="password" onkeyup="checkPassword();" class="form-control"
                                    id="inputRePassword">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no_padding_desktop_1280">
                                <div class="errors_rpw" id="errors_rpw" style='color:red'>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group group_button">
                            <div class="col-xs-6 col-sm-6 col-xs-offset-3">
                                <br>
                                <button class="btn_registier btn btn-warning" type="submit" id="password">Đổi mật khẩu</button>
                                <br>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 no_padding_desktop_1280">
                    <h3 class="title_user">Thông tin cá nhân</h3>
                    {% comment %} <form action="#" method="post" class="frm_register"> {% endcomment %}
                    <div class="background_white" role="form">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding_label">
                                <label class="control-label">Họ và tên: </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" class="form-control" id="inputFullname">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no_padding_desktop_1280">
                                <div class="errors_fn">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 padding_label">
                                <label class="control-label">Địa chỉ </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" class="form-control" id="inputAddress">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no_padding_desktop_1280">
                                <div class="errors_address">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 padding_label">
                                <label class="control-label">Số điện thoại </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" class="form-control" id="inputTel">
                            </div>
                            <div class="
                                col-xs-12 col-sm-3 col-md-3 col-lg-3 no_padding_desktop_1280">
                                <div class="errors_tel">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 padding_label">
                                <label class="control-label">Ngày sinh</label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 input-group date" style="padding:0 15px;" id="datetimepicker1">
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no_padding_desktop_1280">
                                <div class="errors_tel">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding_label">
                                <label class="control-label">Giới tính </label>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="radio-inline">
                                    <input style="height:26px;" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                        value="option2"> Nam
                                </label>
                                <label class="radio-inline">
                                    <input style="height:26px;" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                        value="option3"> Nữ
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no_padding_desktop_1280">
                                <div class="errors_sex">

                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>

                        <div class="form-group group_button">
                            <div class="col-xs-6 col-sm-6 col-xs-offset-3">
                                <br>
                                <button class="btn_registier btn btn-warning" type="submit" id="info">Cập nhập thông tin</button>
                                <br>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div style="margin-bottom:35px;"></div>
        </div>
    </div>
</div>

{% endblock %}
{% block zoom_img_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/vi.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="{% static 'customer/src/js/profile.js' %}"></script>
{% comment %} <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            locale: 'vi',
            format: 'DD/MM/YYYY',
            maxDate: new Date('2010-12-30'),
            date: new Date('1990-12-30'),
        });
    });
</script> {% endcomment %}
{% endblock %}