{% extends "website/base.html" %}
{% block title %}
Đăng ký
{% endblock %}
{% block style_current %}
<style>
    .form-group{
        margin-bottom:0px;
    }
</style>
{% endblock %}
{% block content %}
<!--content register-->
<div class="register">
    <div class="container">
        <div class="row">
            <div class="register_box">
                <div class="module_title">
                    <div class="col-xs-12 no_padding">
                        <span class="title "><a href="/login">Đăng nhập </a> </span> <span class="title is_active"><a
                                href="/register">Tạo tài khoản</a> </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="register_content">
                    <form action="{% url 'register' %}" method="post" class="frm_register">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 padding_label">
                                <label class="control-label">Tên tài khoản: </label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                <input type="text" class="form-control" name="inputUsername" id="inputUsername">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                <div class="errors_id">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 padding_label">
                                <label class="control-label">Email: </label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                <input type="text" class="form-control" name="inputUsername" id="inputUsername">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                <div class="errors_id">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 padding_label">
                                <label class="control-label">Mật khẩu: </label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                <input type="password" class="form-control" name='inputPassword' id="inputPassword">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                <div class="errors_pw">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group" id="checkPassword">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding_label">
                                <label class="control-label">Nhập lại mật khẩu: </label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                <input type="password" onkeyup="checkPassword();" class="form-control" id="inputRePassword">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                <div class="errors_rpw" id="errors_rpw">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 padding_label">
                                <label class="control-label">Email: </label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                <input type="text" class="form-control" name="inputEmail" id="inputEmail">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                <div class="errors_id">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding_label">
                                <label class="control-label">Họ và tên: </label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                <input type="text" class="form-control" name="inputFullname" id="inputFullname">
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                <div class="errors_fn">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding_label">
                                <label class="control-label">Loại tài khoản: </label>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                <select class="form-control" id="select_type_user">
                                    <option>Người mua</option>
                                    <option>Người bán</option>
                                    <option>Mua quảng cáo</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                <div class="errors_fn">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div id="type_users_selected">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding_label">
                                    <label class="control-label">Số điện thoại: </label>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                    <input type="text" class="form-control" name="input_tel" id="input_tel">
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                    <div class="errors_fn">

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding_label">
                                    <label class="control-label">Địa chỉ: </label>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                    <input type="text" class="form-control" name="input_address" id="input_address">
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                    <div class="errors_fn">

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 padding_label">
                                    <label class="control-label">Tên cửa hàng: </label>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-6 col-lg-6">
                                    <input type="text" class="form-control" name="input_store" id="input_store">
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-3 col-lg-3">
                                    <div class="errors_fn">

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="form-group mail_to">
                            <div class="col-xs-12 col-sm-9 col-sm-offset-3 col-md-6 col-lg-6">
                                <input checked="checked" type="checkbox" name="register_mail" id="register_mail">
                                <label>Nhận thông tin và chương trình khuyến mãi qua email</label>
                                <label style="font-style: italic">Khi bạn nhấn Đăng ký, bạn đã đồng ý thực hiện mọi
                                    giao dịch mua bán theo
                                    <a href="#">điều kiện sử dụng và chính sách của Tablet Plaza.</a></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group group_button">
                            <div class="col-xs-6 col-sm-6 col-xs-offset-3">
                                <button class="btn_registier btn btn-warning" type="submit">Đăng ký</button>
                                <br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End content-->
{% endblock %}
{% block zoom_img_js %}
<script>
    $('#select_type_user').change(function () {
        var result = document.getElementById('type_users_selected');
        if (this.value == "Người mua") {
            result.style.display = 'none';
        }
        else
        {
            result.style.display = 'block';
        }
    })
</script>
{% endblock %}