<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="active-menu" href="/merchant"><i class="fa fa-dashboard"></i> Trang tổng quan</a>
            </li>
            <li>
                <a href="/merchant/manager_product"><i class="fa fa-users"></i> Quản lý sản phẩm<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/merchant/manager_product">Danh sách sản phẩm</a>
                    </li>
                    <li>
                        <a href="/merchant/manager_warehose">Kho sản phẩm</a>
                    </li>
                </ul>
            </li>        
            <li>
                <a href="/admin/manager_users"><i class="fa fa-product-hunt"></i> Quản lý gói tin<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/merchant/statistial_post">Thống kê số lượng tin</a>
                    </li>
                    <li>
                        <a href="/merchant/manager_post">Danh sách tin đăng</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/manager_users"><i class="fa fa-file-o"></i>Dịch vụ hỗ trợ<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/merchant/service_post">Mua gói tin</a>
                    </li>
                    <li>
                        <a href="/merchant/service_ads">Mua quảng cáo</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/merchant/order"><i class="fa fa-money"></i>Quản lý đơn hàng<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/merchant/order">Đơn hàng chưa giao</a>
                    </li>
                    <li>
                        <a href="/merchant/order">Đơn hàng hủy</a>
                    </li>
                </ul>
               
            </li>
            <li>
                <a href="/merchant/order"><i class="fa fa-money"></i> Lịch sử giao dịch</a>
               
            </li>
            <li>
                <a href="/admin/manager_users"><i class="fa fa-bar-chart-o"></i> Thống kê và báo cáo<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/manager_users">Thống kê doanh thu</a>
                    </li>
                    <li>
                        <a href="/admin/manager_users">Thống kê kho</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->