<!doctype html>
<html>
{% load staticfiles %}
<head>
    <title>Admin - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Proficient Login Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- /fonts -->
    <!-- css -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'login/css/style.css' %} " />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'login/css/font-awesome.min.css' %} " />
    <!-- /css -->
</head>

<body>
    <h1 class="w3layouts agileits">Supermarket Login Form</h1>
    <div class="content-w3ls agileits">
        <img src="{% static 'login/images/logo.png' %}" alt="" class="user-wthree">
        <fieldset>
            <div class="form-group1-agile agile-info">
                <input type="text" name="username" id="username">
            </div>
            <div class="form-group2-agile agile-info">
                <input type="password" name="password" id="password">
            </div>

            <div class="form-group3-agile wthree">
                <input type="checkbox" name="" id="">
                <label for="brand"><span></span> Keep Me Logged In?</label>
            </div>
            <!-- Change this to a button or input when using this as a form -->
            <input type="submit" value="LOG IN">
        </fieldset>
        }
    </div>
    <div class="footer-w3ls w3-agile">
        <p class="w3-agileits">© 2018 Supermarket mini - 06 Nguyen Trai Street, District 5, Ho Chi Minh City </p>
    </div>
    <!-- js -->
    <script src="{% static 'login/js/modernizr.min.js' %} "></script>
    <!-- /js -->
</body>

</html>