{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chủ
{% endblock %}
{% block styles %}
<!-- TABLE STYLES-->
<link href="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet" />
{% endblock %}
{% block side-bar %}
{% include "snippets_admin/side_bar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý đăng tin
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách tin đang hoạt động
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="tbl_manager_users table table-striped table-bordered table-hover" id="dataTables_posted">

                        <thead>
                            <tr>
                                <th>Mã tin đăng</th>
                                <th>Mã người bán</th>
                                <th>Số SP tồn</th>
                                <th>Hạn sử dụng</th>
                                <th>Loại tin</th>
                                <th>Hiển thị</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/admin/manager_posted_detail">TD00</a></td>
                                <td>Demo</td>
                                <td class="center">5</td>
                                <td>18/12/2018</td>
                                <td>Bạch kim</td>

                                <td>Bạch kim</td>
                            </tr>
                            {% for i in "x"|rjust:"10" %}
                            <tr>
                                <td><a href="/admin/manager_posted_detail">TD0{{forloop.counter}}</a></td>
                                <td>Demo{{forloop.counter}}</td>
                                <td class="center">{{forloop.counter}}</td>
                                <td>{{forloop.counter}}/12/2018</td>
                                {% if forloop.counter > 6 %}<td>Bạc</td> {% else %}<td>Vàng</td> {% endif %}

                                <td>Bạch kim</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock content %}
{% block data_table %}
<!-- DATA TABLE SCRIPTS -->
<script src="{% static '/admin/assets/js/dataTables/jquery.dataTables.js' %} "></script>
<script src="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.js' %} "></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/date-eu.js"></script>
<script src="{% static '/admin/src/js/post/manager_posts.js' %} "></script>
{% endblock %}