{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chi tiết thuộc tính
{% endblock %}
{% block side-bar %}
{% include "snippets_admin/side_bar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý thuộc tính <small>Chi tiết</small>
            <div style="display:inline-block; text-align:right;float:right;">
                <a id="delete" class="btn btn-danger">Xóa thuộc tính</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="background_white" role="form">
            <div class="form-group" style="text-align:center">
                <h3>Thông tin thuộc tính</h3>
                <hr>
            </div>
            <div class="col-lg-6 col-xs-offset-3">
                <div class="form-group">
                    <label>Tên thuộc tính</label>
                    <input type="text" id="inputLabel" class="form-control">
                </div>
            
                <div class="form-group">
                    <label>Kích hoạt</label>
                    <select class="form-control" id="inputIsActive">
                        
                    </select>
                </div>
                
                <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                    <button type="submit" id="edit" class="btn btn-info">Cập nhật thuộc tính</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>

<div class="clearfix"></div>
{% endblock %}
{% block data_table %}
<script src="{% static 'admin/src/js/attribute/attribute_edit.js' %}"></script>
{% endblock %}