{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chi tiết thuộc tính
{% endblock %}

{% block side-bar %}
{% include "snippets_admin/side_bar.html" with active_product='active'  %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý thuộc tính <small>Chi tiết</small>
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/manager_attribute_detail" class="btn btn-danger">Xóa thuộc tính</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">

    <form method="post" action="#" class="background_white col-lg-12" role="form">
        <div class="col-lg-6 col-xs-offset-3">
            <div class="form-group">
                <h3>Thông tin chi tiết</h3>
                <hr>
            </div>
            <div class="form-group">
                <label>Mã thuộc tính</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Tên thuộc tính</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Loại dữ liệu</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Duy nhất</label>
                <select class="form-control">
                    <option>Có</option>
                    <option>Không</option>
                </select>
            </div>
            <div class="form-group">
                <label>Bắt buộc</label>
                <select class="form-control">
                    <option>Có</option>
                    <option>Không</option>
                </select>
            </div>
            <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                <button type="submit" class="btn btn-info">Chỉnh sửa thuộc tính</button>
                <button type="reset" class="btn btn-default">Khôi phục</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>

</div>

<div class="clearfix"></div>
{% endblock %}