{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Quản lý sản phẩm
{% endblock %}

{% block styles %}
<!-- TABLE STYLES-->
<link href="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet" />
{% endblock %}

{% block side-bar %}
{% include "snippets_admin/side_bar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý sản phẩm
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách sản phẩm
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="tbl_manager_product table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Hình ảnh</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/admin/manager_product_detail">SP00</a></td>
                                <td>Iphone5s</td>
                                <td>3.900.000 VNĐ</td>
                                <td>
                                    <div class="tbl_thumb_product">
                                        <img src="{% static 'admin/assets/img/product_1.jpg' %}" alt="Product">
                                    </div>
                                </td>
                                <td class="center">Bị khóa</td>
                            </tr>
                            <tr>
                                <td><a href="/admin/manager_product_detail">SP16</a></td>
                                <td>Iphone5s</td>
                                <td>3.900.000 VNĐ</td>
                                <td>
                                    <div class="tbl_thumb_product">
                                        <img src="{% static 'admin/assets/img/product_1.jpg' %}" alt="Product">
                                    </div>
                                </td>
                                <td class="center">Đang xử lý</td>
                            </tr>
                            {% for i in "x"|rjust:"10" %}
                            <tr>
                                <td><a href="/admin/manager_product_detail">SP0{{forloop.counter}}</a></td>
                                <td>Iphone 5s {{forloop.counter}}</td>
                                <td>3.900.000 VNĐ</td>
                                <td>
                                    <div class="tbl_thumb_product">
                                        <img src="{% static 'admin/assets/img/product_1.jpg' %}" alt="Product">
                                    </div>
                                </td>
                                <td class="center">Kích hoạt</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock content %}
{% block data_table %}
<!-- DATA TABLE SCRIPTS -->
<script src="{% static '/admin/assets/js/dataTables/jquery.dataTables.js' %} "></script>
<script src="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.js' %} "></script>
<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "formatted-num-pre": function (a) {
            a = (a === "-" || a === "") ? 0 : a.replace(/[^\d\-\.]/g, "");
            return parseFloat(a);
        },

        "formatted-num-asc": function (a, b) {
            return a - b;
        },

        "formatted-num-desc": function (a, b) {
            return b - a;
        }
    });

    $(document).ready(function () {
        var table = $('#dataTables-example').dataTable({
            language: {
                paginate: {
                    previous: "<i class='fa fa-arrow-left'></i>",
                    next: "<i class='fa fa-arrow-right'></i>"
                },
                sProcessing: "Đang xử lý...",
                sLengthMenu: "Xem _MENU_ mục",
                sZeroRecords: "Không tìm thấy dòng nào phù hợp",
                sInfo: "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                sInfoEmpty: "Đang xem 0 đến 0 trong tổng số 0 mục",
                sInfoFiltered: "(được lọc từ _MAX_ mục)",
                sInfoPostFix: "",
                sSearch: "Tìm:",
                sUrl: "",
            },
            "dom": '<"toolbar">frtip',
            "lengthMenu": [[5, 25, 50, -1], [5, 25, 50, "All"]],
            "columnDefs": [
                { "type": 'formatted-num', targets: 0 },
                { "type": 'formatted-num', targets: 2 },
            ]

        });
        var tool_bar = '';
        tool_bar += '<div class="col-xs-8 no_padding">';
        tool_bar += '<span>Trạng thái: </span>';
        tool_bar += '<select style="width:50%;display:inline-block;" id="select_type" class="form-control">';
        tool_bar += '<option>Tất cả</option>';
        tool_bar += '<option>Kích hoạt</option>';
        tool_bar += '<option>Đang xử lý</option>';
        tool_bar += '<option>Bị khóa</option>';
        tool_bar += '</select>';
        tool_bar += '</div>';
        $("div.toolbar").html(tool_bar);
        $('#select_type').change(function () {
            regExSearch = '^' + this.value + '$';
            if (this.value == "Tất cả") {
                table.api().columns(4).search('').draw();
            }
            else {
                table.api().columns(4).search(regExSearch, true, false).draw();
            }
        });
    });
</script>
{% endblock %}