{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Quản lý thuộc tính
{% endblock %}
{% block dataTB %}
<!-- TABLE STYLES-->
<link href="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet" />
{% endblock %}
{% block admin %}
{% include "snippets_admin/side_bar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý thuộc tính
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/manager_category_detail" class="btn btn-info">Thêm mới người dùng</a>
            </div>
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách thuôc tính
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="tbl_manager_product table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Mã thuộc tính</th>
                                <th>Tên thuộc tính</th>
                                <th>Loại (Kiễu dữ liệu)</th>
                                <th>Bắt buộc nhập</th>
                                <th>Duy nhất</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/admin/manager_attribute_detail">ATT00</a></td>
                                <td>Màu sắc</td>
                                <td>Varchar</td>
                                <td class="center">Không</td>
                                <td class="center">Không</td>
                            </tr>
                            <tr>
                                <td><a href="/admin/manager_attribute_detail">ATT01</a></td>
                                <td>Kích thước</td>
                                <td>Varchar</td>
                                <td class="center">Không</td>
                                <td class="center">Không</td>
                            </tr>
                            {% for i in "x"|rjust:"3" %}
                            <tr>
                                <td><a href="/admin/manager_attribute_detail">ATT00</a></td>
                                <td>Dung lượng</td>
                                <td>Varchar</td>
                                <td class="center">Không</td>
                                <td class="center">Không</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock content %}
{% block data_table %}
<!-- DATA TABLE SCRIPTS -->
<script src="{% static '/admin/assets/js/dataTables/jquery.dataTables.js' %} "></script>
<script src="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.js' %} "></script>
<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "formatted-num-pre": function (a) {
            a = (a === "-" || a === "") ? 0 : a.replace(/[^\d\-\.]/g, "");
            return parseFloat(a);
        },

        "formatted-num-asc": function (a, b) {
            return a - b;
        },

        "formatted-num-desc": function (a, b) {
            return b - a;
        }
    });

    $(document).ready(function () {
        var table = $('#dataTables-example').dataTable({
            language: {
                paginate: {
                    previous: "<i class='fa fa-arrow-left'></i>",
                    next: "<i class='fa fa-arrow-right'></i>"
                },
                sProcessing: "Đang xử lý...",
                sLengthMenu: "Xem _MENU_ mục",
                sZeroRecords: "Không tìm thấy dòng nào phù hợp",
                sInfo: "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                sInfoEmpty: "Đang xem 0 đến 0 trong tổng số 0 mục",
                sInfoFiltered: "(được lọc từ _MAX_ mục)",
                sInfoPostFix: "",
                sSearch: "Tìm:",
                sUrl: "",
            },
            "dom": '<"toolbar">frtip',
            "lengthMenu": [[5, 25, 50, -1], [5, 25, 50, "All"]],
            "columnDefs": [
                { "type": 'formatted-num', targets: 0 },
            ]

        });
    });
</script>
{% endblock %}