{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Quản lý sản phẩm
{% endblock %}

{% block styles %}
<!-- TABLE STYLES-->
<link href="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet" />
{% endblock %}

{% block side-bar %}
{% include "snippets_admin/side_bar.html" with active_product='active' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý sản phẩm
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách sản phẩm
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="tbl_manager_product table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th>Giá</th>
                                <th>Hình ảnh</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="/admin/manager_product_detail">SP00</a></td>
                                <td>Iphone5s</td>
                                <td>3.900.000 VNĐ</td>
                                <td>
                                    <div class="tbl_thumb_product">
                                        <img src="{% static 'admin/assets/img/product_1.jpg' %}" alt="Product">
                                    </div>
                                </td>
                                <td class="center">Bị khóa</td>
                            </tr>
                            <tr>
                                <td><a href="/admin/manager_product_detail">SP16</a></td>
                                <td>Iphone5s</td>
                                <td>3.900.000 VNĐ</td>
                                <td>
                                    <div class="tbl_thumb_product">
                                        <img src="{% static 'admin/assets/img/product_1.jpg' %}" alt="Product">
                                    </div>
                                </td>
                                <td class="center">Đang xử lý</td>
                            </tr>
                            {% for i in "x"|rjust:"10" %}
                            <tr>
                                <td><a href="/admin/manager_product_detail">SP0{{forloop.counter}}</a></td>
                                <td>Iphone 5s {{forloop.counter}}</td>
                                <td>3.900.000 VNĐ</td>
                                <td>
                                    <div class="tbl_thumb_product">
                                        <img src="{% static 'admin/assets/img/product_1.jpg' %}" alt="Product">
                                    </div>
                                </td>
                                <td class="center">Kích hoạt</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock content %}
{% block data_table %}
<!-- DATA TABLE SCRIPTS -->
<script src="{% static '/admin/assets/js/dataTables/jquery.dataTables.js' %} "></script>
<script src="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.js' %} "></script>
<script src="{% static '/admin/src/js/product/manager_product.js' %} "></script>
{% endblock %}