<div id="left_category" style="" class="no_padding left_category col-sm-3 col-md-3 col-lg-3">
    <h2 class="title hidden_mobile"><i class="fa fa-align-justify"></i>Danh muc</h2>
    <ul class="title hidden_mobile" id="menu_collection_mobie">
        <li>
            <a href="/index">Trang chủ</a>
        </li>
        
    </ul>
    <div class="clearfix"></div>
    <div id="goto_move" class="advanced_search">
        <h2 class="title">
            Lọc sản phẩm
        </h2>
        <ul>
            <li>
                <label>Giá từ: ( VNĐ )</label><br />
                <input max-length="11" placeholder="0 VNĐ" size="12" name="price_from" id="price_from">
                <br class="display_none hidden_desktop_2"> <label>Đến: </label> <br class="hidden_desktop_2 display_none">
                <input max-length="11" size="12" placeholder="99.000.000 VNĐ" name="price_to" id="price_to">
            </li>
        </ul>
        <div style="padding: 0 15px;">
            <button onclick="Filter_price()" class="btn btn-warning">Lọc sản phẩm</button>
            <button onclick="Cancel_Filter()" class="btn btn-danger">Hủy lọc</button>
        </div>
    </div>
</div>