{% load staticfiles %}
<!-- Category Ipad -->
<div class="category_ipad">
    <div class="container">
        <div class="row">
            <h3 class="title_deal">Ipad | <a class="view_more" href="#">Xem thêm</a></h3>
            <div class="owl-product-ipad owl-carousel owl-theme" data-lg-items="4" data-nav="true" data-autoplay="true" data-autopause="true" data-loop="true" data-md-items="3" data-sm-items="3" data-xs-items="2" data-xss-items="2" data-margin="10">
                <div class="item">
                    {% include "snippets/product-grid-item.html" %}
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Ipad -->