{% load staticfiles %}
 <!--Brand-->
 <div class="brand">
    <div class="container">
        <h3 class="title_deal">TỪ KHÓA HOT</h3>
        <div class="row">
            <div class="owl-brand owl-carousel owl-theme" data-lg-items="7" data-nav="true" data-autoplay="true" data-autopause="true" data-loop="true" data-md-items="5" data-sm-items="4" data-xs-items="3" data-xss-items="2" data-margin="0">
                <div class="item">
                    <form action="#" method="post">
                        <button class="btn_key_word">Key word</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Brand-->