<div class="no_padding left_category hidden-xs col-sm-3 col-md-3 col-lg-3">
    <h2 onclick="clickShowCategory('menu_show');" class="title"><i class="fa fa-align-justify"></i>Danh muc</h2>
    <ul id="menu_show" style="display:none;">
        <li>
            <a href="/index">Trang chủ</a>
        </li>
        <li>
            <a href="#">Tin tức</a>
        </li>
        <li>
            <a href="#">Liên hệ</a>
        </li>
        <li>
            <a href="/collections/1">Sản phẩm hot</a>
        </li>
        <li><a href="/collections/2">Sản phẩm VIP</a></li>
    </ul>
    <div class="clearfix"></div>
</div>