{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chi tiết danh mục
{% endblock %}
{% block side-bar %}
{% include "snippets_admin/side_bar.html" with active_product='active' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý danh mục <small>Chi tiết</small>
            <div style="display:inline-block; text-align:right;float:right;">
                <a class="btn btn-danger" id="delete">Khoá danh mục</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="background_white" role="form">
            <div class="form-group" style="text-align:center">
                <h3>Thông tin danh mục</h3>
                <hr>
            </div>
            <div class="col-lg-6 col-xs-offset-3">
                <div class="form-group">
                    <label>Tên danh mục:</label>
                    <input type="text" id="inputName" class="form-control">
                </div>
                <div class="form-group" id="re_number3">
                    <label>Số lượng sản phẩm: </label>
                    <input type="text" id="number3" maxlength="3" disabled='disabled' onkeyup="checkNumber('number3');" class="form-control">
                </div>
                <div class="form-group">
                    <label>Trạng thái danh mục</label>
                    <select class="form-control" id="inputIsActive">
                    </select>
                </div>
                <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                    <button type="submit" id="edit" class="btn btn-info">Cập nhật</button>
                    <!-- <button type="reset" class="btn btn-default">Khôi phục</button> -->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>

<div class="clearfix"></div>
{% endblock %}
{% block data_table %}
<script src="{% static 'admin/src/js/category/category_edit.js' %}"></script>
{% endblock %}