<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="active-menu" href="/admin"><i class="fa fa-dashboard"></i> Trang tổng quan</a>
            </li>
            <li>
                <a href="/admin/manager_users"><i class="fa fa-users"></i> Quản lý tài khoản</a>
              
            </li>
            <li>
                <a href="/admin/manager_servies"><i class="fa fa-paper-plane-o"></i> Quản lý dịch vụ gói tin<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Quản lý gói tin<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/admin/manager_servies">Danh sách gói tin</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Quản lý đăng tin<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="/admin/manager_posted">Tin đang hoạt động</a>
                            </li>
                            <li>
                                <a href="/admin/manager_posted">Tin sắp hết hạn</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/manager_users"><i class="fa fa-product-hunt"></i> Quản lý sản phẩm<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/manager_product">Danh sách sản phẩm</a>
                    </li>
                    <li>
                        <a href="/admin/manager_category">Danh mục sản phẩm</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/manager_users"><i class="fa fa-file-o"></i> Quản lý dịch vụ quảng cáo<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/manager_ads">Danh sách quảng cáo</a>
                    </li>
                    <li>
                        <a href="/admin/manager_ads/register">Danh sách đăng ký</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/admin/manager_pay"><i class="fa fa-money"></i> Lịch sử giao dịch</a>
               
            </li>
            <li>
                <a href="/admin/manager_users"><i class="fa fa-bar-chart-o"></i> Thống kê và báo cáo<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/manager_users">Thống kê doanh thu</a>
                    </li>
                    <li>
                        <a href="/admin/manager_users">Thống kê người bán</a>
                    </li>
                    <li>
                        <a href="/admin/manager_users">Thống kê người mua</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</nav>
<!-- /. NAV SIDE  -->