{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chi tiết sản phẩm
{% endblock %}
{% block admin %}
{% include "snippets/side_bar_merchant.html" %}
{% endblock %}
{% block content %}
{% block product %}
<script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'merchant/lightgallery.min.css' %} " />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'admin/assets/css/style_merchant.css' %} " />
<style>
    #gallery {
            margin-left: auto;
            margin-right: auto;
        }
        .gallerie-control
        {
            line-height: 20px;
            width: 40px;
            height: 40px;
        }
        .gallerie-imagebox
        {
            height: 70%!important;
        }
        .gallerie-imagebox img {
            width: auto!important;
            height: 100%!important;
        }
</style>
{% endblock %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header" style="margin:0px;">
            Quản lý sản phẩm <small>Thêm mới</small>
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/merchant/manager_product_detail" class="btn btn-danger">Xóa sản phẩm</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="#" class="background_white" role="form">
            <div class="form-group">
                <h3 style="text-align:center;">Thông tin sản phẩm</h3>
                <hr>
            </div>
            <div class="col-lg-12 background_white" style="padding-top:15px;margin:0px">
                <div class="col-lg-8">
                    <div class="form-group">
                        <label>Mã sản phẩm:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Tên sản phẩm:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Mô tả ngắn:</label>
                        <textarea name="editor1" class="form-control" rows="4"></textarea>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group" id="re_number3">
                        <label>Giá :</label>
                        <input type="text" id="number3" maxlength="11" onkeyup="checkNumber('number3');" class="form-control">
                    </div>
                    <div class="form-group" style="position:relative;">
                        <label>Danh mục sản phẩm:</label>
                        <input data-toggle="dropdown" type="text" autocomplete="" style="padding-left:35px;" class="form-control dropdown-toggle">
                        <i class="fa fa-search" style="position: absolute;top: 35px;left: 15px;"></i>
                        <ul class="dropdown-menu">
                            <input type="hidden" name="cate1" id="cate1" value="Sản phẩm bán chạy">
                            <li><a href="#" onclick="clickcategory('cate1'); return false;">Sản phẩm bán chạy</a></li>
                            <li><a href="#">Sản phẩm khuyến mãi</a></li>
                            <li><a href="#">Sản phẩm hot</a></li>
                        </ul>
                        <div id="value_category"></div>
                    </div>
                    <script>
                        function clickcategory(a) {
                            var x = document.getElementById(a);
                            var result = document.getElementById('value_category');
                            var html = '';
                            html += '<div class="col-lg-12 category_search" id="value_category' + a + '" onclick="this.innerHTML=\'\';this.removeAttribute(\'class\');this.removeAttribute(\'id\')">' + x.value + '</div>'
                            result.innerHTML += html;
                        }
                    </script>
                    <div class="form-group frm_tags">
                        <label>Tags:<a style="position:absolute;right:20px;" href="#">Xem toàn bộ tags</a></label>
                        <input onkeypress="if (event.keyCode==13) {addmore_tags(this.value); this.value=''; return false; }"
                            type="text" class="form-control" placeholder="Nhập tags cho gói tin">
                        <ul>
                            <div id="tags_add">

                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 background_white" style="padding-top:15px;margin:0px">
                <div class="col-lg-4">
                    <div class="form-group">
                        <h3>Ảnh sản phẩm <label class="upload_photo add_image" style="color:#428bca" for="upload-photo">Thêm</label>
                            <input type="file" name="photo" id="upload-photo" onchange="readURL(this);" /></h3>
                        <hr>
                    </div>
                    <div class="form-group">
                        <ul id="lightgallery" class="list-unstyled row">
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 attribute">
                    <div class="form-group">
                        <h3>Thêm thuộc tính<a class="add_image" href="#">Thêm thuộc tính</a></h3>
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <label>Tên thuộc tính</label>
                        </div>
                        <div class="col-lg-8">
                            <label>Giá trị thuộc tính</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <input type="text" id="name_attribute_0" value="Dung lượng bộ nhớ" placeholder="Tên thuộc tính">
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="count_value this_value_0" placeholder="Giá trị" width="100%"
                                style="width:100%" onkeypress="if (event.keyCode==13) {addmore_att(this.value,'this_value_0'); this.value=''; return false; }">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-lg-8 col-xs-offset-4" id="this_value_0" style="max-width:100%">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="attribute_demo" id="add_more">
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-6">
                            <a onclick="addmore_attribute(); return false;" class="btn btn-default">Thêm thuộc tính
                                khác</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="tbl_product_detail table table-striped table-bordered table-hover"
                                            id="dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Phiên bản</th>
                                                    <th>Giá</th>
                                                </tr>
                                            </thead>
                                            <tbody id="result_attribute">
                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                <button type="submit" class="btn btn-info">Thêm sản phẩm</button>
                <button type="reset" class="btn btn-default">Khôi phục</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<div class="clearfix"></div>
<script>
    CKEDITOR.replace('editor1',
        {
            // Define the toolbar groups as it is a more accessible solution.
            toolbarGroups: [
                { "name": "basicstyles", "groups": ["basicstyles"] },
                { "name": "links", "groups": ["links"] },
                { "name": "paragraph", "groups": ["list", "blocks"] },
                { "name": "document", "groups": ["mode"] },
                { "name": "insert", "groups": ["insert"] },
                { "name": "styles", "groups": ["styles"] },
            ],
            // Remove the redundant buttons from toolbar groups defined above.
            removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar',
        }
    );
    var colors = new Array("#39b3d7", "#286090", "#5cb85c", "#ec971f", "#d9534f", "#39b3d7", "#d9534f", "#5cb85c", "#ec971f", "#286090");
    function combination(a, b) {
        var count = 0;
        var result = new Array();
        for (var i = 0; i < a.length; i++) {
            for (var j = 1; j < b.length; j++) {

                result[count] = '<span style="color:' + colors[i] + '">' + a[i] + '</span> | ' + b[j].textContent;
                count++;
            }
        }
        return result;
    }
    function load_2() {
        var input = document.getElementsByClassName('count_value');
        var this_value = document.getElementsByClassName('this_value_0');
        var result = new Array();
        var i_count = 0;
        for (var i = 1; i < this_value.length; i++) {
            result[i_count] = this_value[i].textContent;
            i_count++;
        }
        if (input.length > 1) {
            for (var i = 1; i < input.length; i++) {
                var input_2 = document.getElementsByClassName("this_value_" + i);
                result = combination(result, input_2)
            }
        }
        var x = document.getElementById('result_attribute');
        x.innerHTML = '';
        for (var i = 0; i < result.length; i++) {
            var html = '';
            html += '<tr>';
            html += '<td><span style="color:red">' + result[i] + '</span></td>';
            html += '<td><input type="text" name="price_product_' + (i + 1) + '" maxlength="10" value=""></td>'
            html += '</tr>';
            x.innerHTML += html;
        }
    }
    function addmore_att(a, b) {
        var x = document.getElementById(b);
        var uuid = guid();
        var attribute = ''
        attribute += '<div class="label label-info ' + b + '" id="' + uuid + '">' + a + '<a href="#" onclick="$(\'#' + uuid + '\').remove(); load_2(); return false;"><i class="fa fa-remove"></i></a></div>';
        x.innerHTML += attribute;
        load_2();
    }
    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }
    function addmore_attribute() {
        var x = document.getElementById('add_more');
        var uuid = guid();
        var count_value = document.getElementsByClassName('count_value');
        var new_value = 'this_value_' + count_value.length;
        var new_name = 'name_attribute_' + count_value.length;
        var attribute = '';
        attribute += '<div class="form-group"><div class="col-lg-4"><input id="' + new_name + '" type="text" placeholder="Tên thuộc tính"></div><div class="col-lg-8"><input class="count_value ' + new_value + '" type="text" onkeypress="if (event.keyCode==13) {addmore_att(this.value,\'' + new_value + '\'); this.value=\'\'; return false; }" placeholder="Giá trị" width="100%" style="width:100%"></div>';
        attribute += '<div class="clearfix"></div></div>';
        attribute += '<div class="form-group">';
        attribute += '<div class="col-lg-8 col-xs-offset-4" id="' + new_value + '"></div><div class="clearfix"></div>';
        attribute += '</div>';
        x.innerHTML += attribute;
    }
</script>
{% endblock %}
{% block data_table %}
<!--Slide trượt-->
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>

<script>
    function scrollto(id) {
        var etop = $('#' + id).offset().top;
        $(window).scrollTop(etop);
    }
    var el = document.getElementById("lightgallery");
    lightGallery(el);
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var result_1 = '';
                /*result_1 = '<a href="' + e.target.result + '"><img src="' + e.target.result + '" width="40%"></a>' */
                //result_1 = '<a href="{% static "website/images/detail_product.jpg" %}"><img src="{% static "website/images/detail_product.jpg" %}" width="40%"></a>'
                result_1 = '<li class="col-xs-6 col-sm-6 col-md-6 no_padding count_image" data-src="' + e.target.result + '"><a href=""><img class="img-responsive" src="' + e.target.result + '" alt="Thumb-1"></a></li>'
                el.insertAdjacentHTML('beforeend', result_1);
                window.lgData[el.getAttribute('lg-uid')].destroy(true);
                lightGallery(el);
                scrollto('lightgallery');
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
/*
function load() {
var x = document.getElementById('result_attribute');
x.innerHTML = '';
$(".value_attribute1").get().forEach(function (entry1, index1, array1) {
if ($(".value_attribute2").length > 0) {
$(".value_attribute2").get().forEach(function (entry2, index2, array2) {
var html = '';
html += '<tr>';
    html += '<td><span style="color:red">' + array1[index1].textContent + '</span> | <span style="color:blue">' +
            array2[index2].textContent + '</span></td>';
    html += '<td><input type="text" name="price_product" maxlength="10" value=""></td>'
    html += '</tr>';
x.innerHTML += html;
});
}
else {
var html = '';
html += '<tr>';
    html += '<td>' + array1[index1].textContent + '</td>';
    html += '<td><input type="text" name="price_product" maxlength="10" value=""></td>'
    html += '</tr>';
x.innerHTML += html;
}
});
if ($(".value_attribute2").length > 0 && $(".value_attribute1").length == 0) {
$(".value_attribute2").get().forEach(function (entry2, index2, array2) {
var html = '';
html += '<tr>';
    html += '<td>' + array2[index2].textContent + '</td>';
    html += '<td><input type="text" name="price_product" maxlength="10" value=""></td>'
    html += '</tr>';
x.innerHTML += html;
})
}
}*/

</script>
{% endblock %}