{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chi tiết người dùng
{% endblock %}
{% block admin %}
{% include "snippets/side_bar_merchant.html" %}
{% endblock %}
{% block content %}
{% block product %}
<script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>
<link rel="stylesheet" href="{% static 'website/assets/fotorama.css' %} ">
{% endblock %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý sản phẩm <small>Thêm mới</small>
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/manager_users/add" class="btn btn-danger">Xóa sản phẩm</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="#" class="background_white" role="form">
            <div class="col-lg-8">
                <div class="form-group">
                    <h3>Thông tin sản phẩm</h3>
                    <hr>
                </div>
                <div class="form-group">
                    <label>Mã sản phẩm:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tên sản phẩm:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Mô tả ngắn:</label>
                    <textarea name="editor1" class="form-control" rows="4"></textarea>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <h3>Danh mục</h3>
                    <hr>
                </div>
                <div class="form-group">
                    <label>Danh mục sản phẩm:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group frm_tags">
                    <label>Tags:<a style="position:absolute;right:20px;" href="#">Xem toàn bộ tags</a></label>
                    <input onkeypress="if (event.keyCode==13) {addmore_tags(this.value); this.value=''; return false; }" type="text" class="form-control" placeholder="Nhập tags cho gói tin">
                    <ul >
                        <li>
                            <span>Demo test<a href="#"><i class="fa fa-remove"></i></a></span>
                        </li>
                        <li><span>Deme test<a href="#"><i class="fa fa-remove"></i></a></span></li>
                        <div id="tags_add">

                        </div>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <h3>Ảnh sản phẩm<a class="add_image" href="#">Thêm ảnh</a></h3>
                    <hr>
                </div>
                <div class="form-group">
                    <div class="fotorama" data-arrows="true" data-click="true"
                        data-swipe="true" data-width="300" data-maxwidth="100%" data-ratio="16/9" data-allowfullscreen="true"
                        data-nav="thumbs">
                        <a href="{% static 'website/images/product_1.jpg' %} "> <img src="{% static 'website/images/product_1.jpg' %} "></a>
                        <a href="{% static 'website/images/product_1.jpg' %} "> <img src="{% static 'website/images/product_1.jpg' %} "></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 attribute">
                <div class="form-group">
                    <h3>Thêm thuộc tính<a class="add_image" href="#">Thêm thuộc tính</a></h3>
                    <hr>
                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-lg-3">
                        <label>Tên thuộc tính</label>
                    </div>
                    <div class="col-lg-9">
                        <label>Giá trị thuộc tính</label>
                    </div>
                    <div class="clearfix"></div>
                </div>
               
                <div class="form-group">
                    <div class="col-lg-3">
                        <input type="text" placeholder="Tên thuộc tính">
                    </div>
                    <div class="col-lg-9">
                        <input type="text" placeholder="Giá trị">
                    </div>
                    <div class="clearfix"></div>
                </div>
               <div id="add_more">

               </div>
                <div class="form-group ">
                    <div class="col-lg-6">
                        <a onclick="addmore_attribute(); return false;" class="btn btn-default">Thêm thuộc tính khác</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                <button type="submit" class="btn btn-info">Thêm sản phẩm</button>
                <button type="reset" class="btn btn-default">Khôi phục</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<div class="clearfix"></div>
<script>
    CKEDITOR.replace('editor1');
    function addmore_attribute()
    {
        var x = document.getElementById('add_more');
        var attribute = '';
        attribute+='<div class="form-group"><div class="col-lg-3"><input type="text" placeholder="Tên thuộc tính"></div><div class="col-lg-9"><input type="text" placeholder="Giá trị"></div><div class="clearfix"></div></div>';
        x.innerHTML += attribute;
    }
    function addmore_tags(a)
    {
        var x = document.getElementById('tags_add');
        var attribute = '';
        attribute+=' <li><span>'+a+'<a href="#"><i class="fa fa-remove"></i></a></span></li>';
        x.innerHTML += attribute;
    }
</script>
{% endblock %}
{% block data_table %}
<script src="{% static 'website/assets/fotorama.js' %} "></script>
{% endblock %}
