{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang quản lý người dùng
{% endblock %}
<!--Script Style-->
{% block styles %}
<link href="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet" />
{% endblock %}
<!--End Style-->
{% block side-bar %}
{% include "snippets_admin/side_bar.html" with active_user='active' %}
{% endblock %}
{% block content %}
<div class="row"> 
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý người dùng
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="#" class="btn btn-info hidden">Thêm mới người quảng cáo</a>
            </div>
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách tài khoản
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="tbl_manager_users table table-striped table-bordered table-hover" id="tbl_manager_users">
                        <div class="col-xs-12 no_padding" style="margin-bottom:10px;">
                            <div class="col-xs-6 no_padding">
                                <span>Trạng thái</span>
                                <select style="width:50%;display:inline-block;" id="select_status" class="form-control">
                                    <option>Tất cả</option>
                                    <option>Đang hoạt động</option>
                                    <option>Không hoạt động</option>
                                    <option>Đã bị khóa</option>
                                </select>
                            </div>
                            <div class="col-xs-6 no_padding" style="text-align:right;">
                                <span>Loại tài khoản</span>
                                <select style="width:50%;display:inline-block;" id="select_position" class="form-control">
                                    <option>Tất cả</option>
                                    <option>Người bán</option>
                                    <option>Người mua</option>
                                    <option>Nguời quảng cáo</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Họ và tên</th>
                                <th>Loại tài khoản</th>
                                <th>Đánh giá</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <a href="/admin/manager_users_detail">admin@tabletplaza.com</a></td>
                                <td>Nguyễn Văn Admin</td>
                                <td>Quản lý</td>
                                <td>
                                    <input type="hidden" name="rating" value="5" id="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </td>
                                <td>Kích hoạt</td>

                            </tr>
                            {% for i in "x"|rjust:"13" %}
                            {% if forloop.counter < 6 %} <tr>
                                <td><a href="/admin/manager_users_detail">demo{{forloop.counter}}@gmail.com</a></td>
                                <td>Nguyễn Văn Demo {{forloop.counter}}</td>
                                <td>Người bán</td>
                                <td>
                                    <input type="hidden" name="rating" id="rating" value="{% if forloop.counter < 5 %}{{forloop.counter}}{% else %}3{% endif %}">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </td>
                                <td>Không kích hoạt</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td><a href="/admin/manager_users_detail">gialap{{forloop.counter}}@gmail.com</a></td>
                                    <td>Nguyễn Văn Tí {{forloop.counter}}</td>
                                    <td>Người mua</td>
                                    <td>
                                        <input type="hidden" name="rating" id="rating" value="{% if forloop.counter < 5 %}{{forloop.counter}}{% else %}3{% endif %}">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </td>
                                    <td>Đã bị khóa</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock content %}
{% block data_table %}
<!-- DATA TABLE SCRIPTS -->
<script src="{% static '/admin/assets/js/dataTables/jquery.dataTables.js' %} "></script>
<script src="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.js' %} "></script>
<script src="{% static '/admin/src/js/user/user_manager.js' %} "></script>
{% endblock %}