{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chủ
{% endblock %}
{% block dataTB %}
<!-- TABLE STYLES-->
<link href="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet" />
{% endblock %}
{% block admin %}
{% include "snippets_admin/side_bar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý người dùng
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/manager_users/add" class="btn btn-info">Thêm mới người dùng</a>
            </div>
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách tài khoản
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="tbl_manager_users table table-striped table-bordered table-hover" id="dataTables-example">
                        <div class="col-xs-12 no_padding" style="margin-bottom:10px;">
                            <div class="col-xs-4 no_padding">
                                <span>Trạng thái</span>
                                <select style="width:50%;display:inline-block;" id="select_satus" class="form-control">
                                    <option>Tất cả</option>
                                    <option>Đang hoạt động</option>
                                    <option>Không hoạt động</option>
                                </select>
                            </div>
                            <div class="col-xs-4 no_padding" style="text-align:center;">
                                <span>Loại tài khoản</span>
                                <select style="width:50%;display:inline-block;" id="select_position" class="form-control">
                                    <option>Tất cả</option>
                                    <option>Quản lý</option>
                                    <option>Người bán</option>
                                    <option>Người mua</option>
                                    <option>Khách hàng</option>
                                </select>
                            </div>
                            <div class="col-xs-4 no_padding" style="float:right;text-align:right;">
                                <span>Đánh giá</span>
                                <select style="width:50%;display:inline-block;" id="select_position" class="form-control">
                                    <option>Tất cả</option>
                                    <option>Quản lý</option>
                                    <option>Người bán</option>
                                    <option>Người mua</option>
                                    <option>Khách hàng</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th>Họ và tên</th>
                                <th>Loại tài khoản</th>
                                <th>Đánh giá</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> <a href="/admin/manager_users/add">admin@tabletplaza.com</a></td>
                                <td>Nguyễn Văn Admin</td>
                                <td>Quản lý</td>
                                <td><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </td>
                                <td>Đang hoạt động</td>

                            </tr>
                            <tr>
                                <td><a href="/admin/manager_users/add">demo@gmail.com</a></td>
                                <td>Nguyễn Văn Demo</td>
                                <td>Người bán</td>
                                <td><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </td>
                                <td>Đang hoạt động</td>
                            </tr>
                            <tr>
                                <td><a href="/admin/manager_users/add">demo@gmail.com</a></td>
                                <td>Nguyễn Văn Demo</td>
                                <td>Người bán</td>
                                <td><i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </td>
                                <td>Đã bị khóa</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock content %}
{% block data_table %}
<!-- DATA TABLE SCRIPTS -->
<script src="{% static '/admin/assets/js/dataTables/jquery.dataTables.js' %} "></script>
<script src="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.js' %} "></script>
<script>
    $(document).ready(function () {
        var table = $('#dataTables-example').dataTable({
            language: {
                paginate: {
                    previous: "<i class='fa fa-arrow-left'></i>",
                    next: "<i class='fa fa-arrow-right'></i>"
                },
                bFilter: true,
                sProcessing: "Đang xử lý...",
                sLengthMenu: "Xem _MENU_ mục",
                sZeroRecords: "Không tìm thấy dòng nào phù hợp",
                sInfo: "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                sInfoEmpty: "Đang xem 0 đến 0 trong tổng số 0 mục",
                sInfoFiltered: "(được lọc từ _MAX_ mục)",
                sInfoPostFix: "",
                sSearch: "Tìm:",
                sUrl: "",
            },
            "columnDefs": [

                {
                    "targets": [2],

                },
                {
                    "targets": [3],
                }
            ],
            "dom": '<"toolbar">frtip',
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "createdRow": function (row, data, index) {
                if (data[2] == "Quản lý") {
                    $('td', row).eq(2).addClass('highlight');
                }
            },  
        });
        var tool_bar = '';
        tool_bar+='<div class="column_hidden">Bật/Tắt cột hiển thị: '
        tool_bar+= '<a class="toggle-vis" data-column="0">Email</a> - <a class="toggle-vis" data-column="1">Họ và tên</a> - ';
        tool_bar+= '<a class="toggle-vis" data-column="2">Loại tài khoản</a> - <a class="toggle-vis" data-column="3">Đánh giá</a> - ';
        tool_bar+= '<a class="toggle-vis" data-column="4">Trạng thái</a>';
        tool_bar+='</div>'
        $("div.toolbar").html(tool_bar);
        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();

            // Get the column API object
            var column = table.api().column($(this).attr('data-column'));

            // Toggle the visibility
            column.visible(!column.visible());
        });
        $('#dataTables-example tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });
        $('#select_status').change(function () {
            if (this.value == "Tất cả") {
                table.api().columns(4).search('').draw();
            }
            else {
                table.api().columns(4).search(this.value).draw();
            }
        });
        $('#select_position').change(function () {
            if (this.value == "Tất cả") {
                table.api().columns(2).search('').draw();
            }
            else {
                table.api().columns(2).search(this.value).draw();
            }
        });
    });
</script>
{% endblock %}
