{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chi tiết người dùng
{% endblock %}
{% block side-bar %}
{% include "snippets_admin/side_bar.html" with active_ads='active' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header" style="margin:0px; padding-top:15px;">
             Quản lý đăng nội dung quảng cáo
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/manager_users/add" class="btn btn-danger">Xóa nội dung</a>
            </div>
        </h1>
    </div>
</div> 
<div class="row">
    <div class="col-md-12">
        <form method="post" action="#" class="background_white" role="form">
            <div class="form-group">
                <h3 style="text-align:center;">Thông tin quảng cáo</h3>
                <hr>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Tên quảng cáo</label>
                    <input value="Quảng cáo hình ảnh 867x800" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Loại quảng cáo</label>
                    <input value="Slide trượt" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Vị trí</label>
                    <input value="Slide trượt" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Ngày đăng</label>
                    <input value="12-12-2018" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Ngày hết hạn</label>
                    <input value="19-12-2018" type="text" class="form-control">
                </div>
               
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Họ tên khách hàng</label>
                    <input value="Nguyễn Văn A" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input value="10 Nguyễn Trãi, P3 ,Q5" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input value="0978956043" type="text" class="form-control">
                </div>
                
                 <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control">
                        <option>Đang xử lý</option>
                        <option>Cho thuê</option>
                        <option>Không cho thuê</option>
                    </select>
                </div>
            </div>
             <div class="col-lg-12">
                <div class="form-group">
                    <h3>Nội dung quảng cáo</h3>
                    <hr>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="tbl_manager_product table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>No.1</th>
                                        <th>Đường dẫn URL</th>
                                        <th>Hình ảnh</th>
                                        <th>Nội dung</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="/merchant/manager_product_detail">SP001</a></td>
                                        <td>Iphone5s</td>
                                        <td>
                                            <div class="tbl_thumb_product">
                                                <img src="{% static 'admin/assets/img/product_1.jpg' %}" alt="Product">
                                            </div>
                                        </td>
                                        <td>3.900.000 VNĐ</td>
                                    </tr>
                                    <tr>
                                        <td><a href="/merchant/manager_product_detail">SP002</a></td>
                                        <td>Iphone5s</td>
                                        <td>
                                            <div class="tbl_thumb_product">
                                                <img src="{% static 'admin/assets/img/product_1.jpg' %}" alt="Product">
                                            </div>
                                        </td>
                                        <td>3.900.000 VNĐ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                    <button type="submit" class="btn btn-info"><i class=" fa fa-refresh "></i> Cập nhập</button>
                <button type="reset" class="btn btn-default">Khôi phục</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<div class="clearfix"></div>
{% endblock %}