{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chủ
{% endblock %}
{% block styles %}
<!-- TABLE STYLES-->
<link href="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet" />
{% endblock %}
{% block side-bar %}
{% include "snippets_admin/side_bar.html" with active_ads='active' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý quảng cáo
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/manager_ads_created" class="btn btn-info">Thêm mới quảng cáo</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách quảng cáo
            </div>
            {% if success == "success" %}
            <h5 class="alert alert-success" style="margin:0px;"><i class="fa fa-check"></i>Xóa thành công</h5>
            {% endif %}
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="tbl_manager_users table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Tên quảng cáo</th>
                                <th>Vị trí</th>
                                <th>Hạn sử dụng</th>
                                <th>Giá tiền</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock content %}
{% block data_table %}
<!-- DATA TABLE SCRIPTS -->
<script src="{% static '/admin/assets/js/dataTables/jquery.dataTables.js' %} "></script>
<script src="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.js' %} "></script>
<script src="{%  static 'admin/src/js/service_ads/service_ads.js'%}"></script>
{% endblock %}