{% extends "admin/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block title %}
Trang chi tiết người dùng
{% endblock %}
{% block side-bar %}
{% include "snippets_admin/side_bar.html" with active_ads='active' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý quảng cáo <small>Thêm mới</small>
            {% if ads.id  %}<div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/removeAds/{{ads.id}}" class="btn btn-danger">Xóa quảng cáo</a>
            </div>
            {% endif %}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="/admin/addAds" class="background_white" role="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <h3>Thông tin quảng cáo</h3>
                    <hr>
                </div>
                <div class="form-group">
                    <label>Mã quảng cáo:</label>
                    <input type="text" disabled="disabled" value="{% if ads is None %}{{ads_id}}{% else %}{{ads.id}}{%endif%}" class="form-control">
                    <input name="inputId" type="hidden" value="{% if ads is None %}{{ads_id}}{% else %}{{ads.id}}{%endif%}">
                </div>
                <div class="form-group">
                    <label>Tên quảng cáo:</label>
                    <input name="inputName" type="text" value="{% if ads is None %}{% else %}{{ads.service_name}}{%endif%}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Vị trí:</label>
                    <input name="inputPosition" type="text" value="{% if ads is None %}{% else %}{{ads.position}}{%endif%}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Giá tiền:</label>
                    <input type="text" name="inputAmount" value="{% if ads is None %}{% else %}{{ads.amount|intcomma}}{%endif%}"  class="form-control">
                </div>
                <div class="form-group">
                    <label>Hạn sử dụng</label>
                    <input name="inpuLimit" type="text" value="{% if ads is None %}{% else %}{{ads.day_limit}} Ngày{%endif%}"  class="form-control">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <h3>Hình thức quảng cáo</h3>
                    <hr>
                </div>
                <div class="form-group">
                    <label>Loại quảng cáo</label>
                    <input name="inputType" type="text" value="{% if ads is None %}{% else %}{{ads.type_service}}{%endif%}" class="form-control">
                </div>
                <div class="form-group" id="checkPassword">
                    <label>Trạng thái</label>
                    <select name="inputStatus" class="form-control">
                        <option {% if ads.is_active %}selected="selected"{%endif%}>Kích hoạt</option>
                        <option {% if ads.is_active %}{%else%}selected="selected"{%endif%}>Không kích hoạt</option>
                    </select>
                </div>
                <div class="form-group frm_tags">
                    <label>Tags:<a style="position:absolute;right:20px;" href="#">Xem toàn bộ tags</a></label>
                    <input type="text" class="form-control" placeholder="Nhập tags cho gói tin">
                    <ul>
                        <li>
                            <span>Demo test<a href="#"><i class="fa fa-remove"></i></a></span>
                        </li>
                        <li><span>Deme test<a href="#"><i class="fa fa-remove"></i></a></span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                {% if ads_id %} <button type="submit" class="btn btn-info">Thêm quảng cáo</button> {% else %}
                <button type="submit" class="btn btn-info"><i class=" fa fa-refresh "></i> Chỉnh sửa</button>
                {% endif %}
                <button type="reset" class="btn btn-default">Khôi phục</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<div class="clearfix"></div>
{% endblock %}