{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chi tiết người dùng
{% endblock %}
{% block admin %}
{% include "snippets_admin/side_bar.html" %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý quảng cáo <small>Thêm mới</small>
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/manager_users/add" class="btn btn-danger">Xóa quảng cáo</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="#" class="background_white" role="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <h3>Thông tin quảng cáo</h3>
                    <hr>
                </div>
                <div class="form-group">
                    <label>Mã quảng cáo:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Tên quảng cáo:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group" id="checkPassword">
                    <label>Vị trí:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Giá tiền:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Hạn sử dụng</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <h3>Hình thức quảng cáo</h3>
                    <hr>
                </div>
                <div class="form-group">
                    <label>Kiểu dữ liệu</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <input type="tel" class="form-control">
                </div>
                <div class="form-group" id="checkPassword">
                    <label>Trạng thái</label>
                    <select class="form-control">
                        <option>Đang sử dụng</option>
                        <option>Không sử dụng</option>
                        <option>Không cho thuê</option>
                    </select>
                </div>
                <div class="form-group frm_tags">
                    <label>Tags:<a style="position:absolute;right:20px;" href="#">Xem toàn bộ tags</a></label>
                    <input type="text" class="form-control" placeholder="Nhập tags cho gói tin">
                    <ul>
                        <li>
                            <span>Demo test<a href="#"><i class="fa fa-remove"></i></a></span>
                        </li>
                        <li><span>Deme test<a href="#"><i class="fa fa-remove"></i></a></span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                <button type="submit" class="btn btn-info">Thêm quảng cáo</button>
                <button type="reset" class="btn btn-default">Khôi phục</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<div class="clearfix"></div>
{% endblock %}