{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chi tiết người dùng
{% endblock %}
{% block side-bar %}
{% include "snippets/side_bar_merchant.html" with active_service='active' %}
{% endblock %}
{% block content %}
<script>
    var list = new Array();
</script>
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header" style="margin:0px; padding-top:15px;">
            Quản lý đăng ký quảng cáo
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/manager_users/add" class="btn btn-danger">Xóa đăng ký</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" action="#" class="background_white" role="form">
            <div class="col-lg-6">
                <div class="form-group">
                    <h3>Thông tin đăng ký</h3>
                    <hr>
                </div>
                <div class="form-group">
                    <label>Quảng cáo</label>
                    <select class="form-control" id="select_type">
                        {% for item in list %}
                        <option value="{{item.id}}">{{item.service_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Mã khách hàng</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Họ tên khách hàng</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Vị trí đặt quảng cáo</label>
                    <input id="position" type="text" class="form-control">
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <h3>Nội dung quảng cáo</h3>
                    <hr>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label>Giá tiền</label>
                        <input id="amount" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label>Hạn sử dụng</label>
                        <input id="day_limit" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                <button type="submit" class="btn btn-info">Đăng ký</button>
                <button type="reset" class="btn btn-default">Khôi phục</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<div class="clearfix"></div>
{% endblock %}
{% block data_table %}
<script>
    var arr = new Array();
    $(document).ready(function () {
        $.ajax({
            url: 'http://localhost:8000/merchant/getListAds/',
            type: 'GET',
            dataType: 'json',
            async: false,
            success: function (data) {
                var i = 0;
                $.each(data, function (i, item) {
                    var obj = {
                        id: item.id,
                        service_name: item.service_name,
                        type_service: item.type_service,
                        amount: item.amount,
                        day_limit: item.day_limit,
                    };
                    arr[i] = obj;
                    i++;
                })
            }
        })
    })
    $('#select_type').click(function () {
        var flag = false;
        for (var i = 0; i < arr.length; i++) {
            if (arr[i].id == this.value)
            {
                $('#day_limit').val()=arr[i].day_limit;
                $('#amount').val()=arr[i].amount;
            }
        }
    });
</script>
{% endblock %}