{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chủ
{% endblock %}
{% block styles %}
<link href="{% static '/admin/assets/css/style_merchant.css' %} " rel="stylesheet" />
{% endblock %}
{% block side-bar %}
{% include "snippets/side_bar_merchant.html" with active_service='active' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header" style="margin:0px;"> 
            Dịch vụ quảng cáo
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 ads_top" style="border:1px solid #e2e2e2;">
       <a href="/merchant/ads_register" > Thuê quảng cáo top 1280 x 90 px</a>
    </div>
    <div class="col-lg-7 col-xs-offset-3 ads_top"style="border:1px solid #e2e2e2;">
        <a href="/merchant/ads_register">Thuê quảng cáo Slider 682 x 435 px </a>
    </div>
    <div class="col-lg-2 ads_top"style="border:1px solid #e2e2e2;font-size:14px;line-height:18px;">
        <a href="/merchant/ads_register">Thuê quảng cáo 185 x 170 px</a>
        <br>
        <a href="/merchant/ads_register">Thuê quảng cáo 185 x 170 px</a>
    </div>
    <div class="col-lg-12 ads_top" style="border:1px solid #e2e2e2;">
        <a href="/merchant/ads_register" > Thuê quảng cáo dưới slide 1280 x 90 px</a>
     </div>
     <div class="col-lg-12 ads_top" style="border:1px solid #e2e2e2;">
        <a href="/merchant/ads_register" > Thuê quảng cáo dưới khu VIP 1280 x 90 px</a>
     </div>
</div>
{% endblock content %}
