{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Trang chi tiết người dùng
{% endblock %}
{% block side-bar %}
{% include "snippets/side_bar_merchant.html" with active_service='active' %}
{% endblock %}
{% block styles %}
<script src="{% static 'merchant/ckeditor.js' %}"></script>
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'merchant/lightgallery.min.css' %} " />
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'admin/assets/css/style_merchant.css' %} " />
{% endblock %}
{% block content %}
<script>
    var input = new Array();
    var count = 0;
</script>
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header" style="margin:0px; padding-top:15px;">
            Đăng nội dung quảng cáo
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/manager_users/add" class="btn btn-danger">Xóa nội dung</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form method="post" id="frm_ads" action="/merchant/upload_ads/" enctype="multipart/form-data" class="background_white"
            role="form">
            {% csrf_token %}
            <h3 style="text-align:center;">Nội dung quảng cáo</h3>
            <hr>
            <div class="col-lg-6 form-group">
                <label>Tên quảng cáo</label>
                <select class="form-control" name="inputAds_id" id="select_type">
                    {% for item in list %}
                    <option value="{{item.id}}">{{item.service_ads_id.service_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-6 form-group">
                <label>Hạn sử dụng</label>
                <input type="text" class="form-control" value="{{item.service_ads_id.day_limit}}" name="input" id="">
            </div>
            <div class="col-lg-4 form-group">
                <h3>Ảnh quảng cáo <label class="upload_photo add_image" style="color:#428bca" for="upload-photo-1">Thêm</label>
                    <input type="file" name="inputPhoto_1" id="upload-photo-1" /></h3>
                <hr>
                <div class="count_image">
                    <img id="ads_1" src="">
                </div>
                <label>Đường dẫn quảng cáo</label>
                <input value="https://google.com" type="text" name="inputLink_1" class="form-control">
                <label>Nội dung quảng cáo</label>
                <input value="Đây là quảng cáo" type="text" name="inputContent_1" class="form-control">
            </div>
            <div class="col-lg-4 form-group">
                <h3>Ảnh quảng cáo <label class="upload_photo add_image" style="color:#428bca" for="upload-photo-2">Thêm</label>
                    <input type="file" name="inputPhoto_2" id="upload-photo-2" /></h3>
                <hr>
                <div class="count_image">
                    <img id="ads_2" src="">
                </div>
                <label>Đường dẫn quảng cáo</label>
                <input value="https://google.com" type="text" name="inputLink_2" class="form-control">
                <label>Nội dung quảng cáo</label>
                <input value="Đây là quảng cáo" type="text" name="inputContent_2" class="form-control">
            </div>
            <div class="col-lg-4 form-group">
                <h3>Ảnh quảng cáo <label class="upload_photo add_image" style="color:#428bca" for="upload-photo-3">Thêm</label>
                    <input type="file" name="inputPhoto_3" id="upload-photo-3" /></h3>
                <hr>
                <div class="count_image">
                    <img id="ads_3" src="">
                </div>
                <label>Đường dẫn quảng cáo</label>
                <input value="https://google.com" type="text" name="inputLink_3" class="form-control">
                <label>Nội dung quảng cáo</label>
                <input value="Đây là quảng cáo" type="text" name="inputContent_3" class="form-control">
            </div>
            <div class="col-lg-12 pull-right" style="text-align:right; padding:15px;border-top:1px solid #C7D1DD;">
                <button type="submit" class="btn btn-info">Đăng nội dung</button>
                <button type="reset" class="btn btn-default">Khôi phục</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<div class="clearfix"></div>
{% endblock %}
{% block data_table %}
<!--Slide trượt-->
<script src="{% static 'merchant/src/js/service_ads/service_ads.js' %}"></script>
{% endblock %}