.statisical_home {
  ul {
    padding-left: 0px;
    border-top: 1px solid #ebebeb;
    li {
      list-style: none;
      padding: 5px 0px;
      border-bottom: #ebebeb 1px solid;
      i {
        min-width: 40px;
      }
      a {
        line-height: 28px;
        text-decoration: none;
        color: #333;
        &:hover {
          color: black;
        }
        span {
          font-weight: bold;
          color: #4cb1cf;
          padding: 0 5px;
        }
      }
    }
  }
}
.tbl_statistical {
  min-height: 143px;
  table {
    width: 100%;
    tr {
      th {
        text-align: center;
      }
      td {
        padding: 10px 0px;
      }
    }
  }
}
.f_right {
  float: right !important;
}
.center {
  text-align: center;
}
.background_white {
  background: white;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #c7d1dd;
}
.frm_tags {
  ul {
    padding: 0px;
    margin-top: 15px;
    li {
      list-style: none;
      display: inline-block;
      margin-bottom: 15px;
      a {
        color: black;
        &:hover {
          font-weight: bold;
        }
      }
      i {
        padding: 0 10px;
      }
      span {
        background-color: #c7d1dd;
        color: black;
        padding: 5px;
      }
    }
  }
}
.thumb_img_ads {
  height: 74px;
  position: relative;

  img {
    width: auto !important;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
  }
}
.no_padding {
  padding: 0px;
}
.highlight {
  color: #f58634;
  font-weight: bold;
}
table.dataTable tbody tr.selected {
  background-color: #c7d1dd;
}
.dataTables_filter {
  display: inline;
}
.toolbar {
  width: 60%;
  display: inline-block;
}
.column_hidden {
  line-height: 28px;
  a {
    color: #333;
    &:hover {
      cursor: pointer;
      color: black;
    }
  }
}

.table {
  tr {
    td {
      vertical-align: middle !important;
      min-width: 133px;
      i {
        color: #f58634;
      }
    }
  }
  .tbl_thumb_product {
    height: 74px;
    position: relative;
    img {
      width: auto !important;
      max-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
    }
  }
}
.add_image {
  float: right;
  font-size: 17px;
  line-height: 28px;
}
.attribute {
  input {
    max-width: 100%;
    border-radius: 5px;
    padding: 5px;
  }
}
.padding_top_15 {
  padding-top: 15px;
}
.quantity_warehose {
  input {
    text-align: center;
    max-width: 65px;
    border-radius: 5px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #e2e2e2;
  }
}
.library_image {
  .thumb_img {
    height: 100px;
    position: relative;
    img {
      width: auto !important;
      max-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
    }
  }
  ul {
    li {
      display: inline-block;
      list-style: none;
    }
  }
}
.tbl_product_detail {
  max-width: 100%;
  width: 100%;
  tr {
    td {
      min-width: 70px;
    }
  }
}
