{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Quản lý thanh toán quảng cáo
{% endblock %}
{% block styles %}
<!-- TABLE STYLES-->
<link href="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet" />
{% endblock %}
{% block side-bar %}
{% include "snippets_admin/side_bar.html" with active_history='active' %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý thanh toán quảng cáo
        </h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách giao dịch
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="tbl_manager_users table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Nội dung</th>
                                <th>Người bán</th>
                                <th>Tổng tiền</th>
                                <th>Ngày thực hiện</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock content %}
{% block data_table %}
<!-- DATA TABLE SCRIPTS -->
<script src="{% static '/admin/assets/js/dataTables/jquery.dataTables.js' %} "></script>
<script src="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.js' %} "></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/date-eu.js"></script>
<script>
    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "formatted-num-pre": function (a) {
            a = (a === "-" || a === "") ? 0 : a.replace(/[^\d\-\.]/g, "");
            return parseFloat(a);
        },

        "formatted-num-asc": function (a, b) {
            return a - b;
        },

        "formatted-num-desc": function (a, b) {
            return b - a;
        }
    });
    $(document).ready(function () {
        var table = $('#dataTables-example').dataTable({
            language: {
                paginate: {
                    previous: "<i class='fa fa-arrow-left'></i>",
                    next: "<i class='fa fa-arrow-right'></i>"
                },
                sProcessing: "Đang xử lý...",
                sLengthMenu: "Xem _MENU_ mục",
                sZeroRecords: "Không tìm thấy dòng nào phù hợp",
                sInfo: "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                sInfoEmpty: "Đang xem 0 đến 0 trong tổng số 0 mục",
                sInfoFiltered: "(được lọc từ _MAX_ mục)",
                sInfoPostFix: "",
                sSearch: "Tìm:",
                sUrl: "",
            },
            "dom": '<"toolbar">frtip',
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "columnDefs": [
                { "type": 'formatted-num', targets: 0 },
                { "type": 'formatted-num', targets: 2 },
                { "type": 'date-eu', targets: 3 }
            ],
            "processing": true,
            "ajax": {
                "processing": true,
                "url": "http://54.213.242.175:8000/admin/payment_ads?table=true",
                "dataSrc": ""
            },
        });
        var tool_bar = '';
        tool_bar += '<div class="col-xs-8 no_padding">';
        tool_bar += '<span>Trạng thái: </span>';
        tool_bar += '<select style="width:50%;display:inline-block;" id="select_type" class="form-control">';
        tool_bar += '<option>Tất cả</option>';
        tool_bar += '<option>Thanh toán thành công</option>';
        tool_bar += '<option>Thanh toán thất bại</option>';
        tool_bar += '</select>';
        tool_bar += '</div>';
        $("div.toolbar").html(tool_bar);
        $('#select_type').change(function () {
            regExSearch = '^' + this.value + '$';
            if (this.value == "Tất cả") {
                table.api().columns(4).search('').draw();
            }
            else {
                table.api().columns(4).search(regExSearch, true, false).draw();
            }
        });
    });
</script>
{% endblock %}