{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}
Admin - Quản lý gói tin
{% endblock %}
{% block styles %}
<!-- TABLE STYLES-->
<link href="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet" />
{% endblock %}
{% block side-bar %}
{% include "snippets_admin/side_bar.html"  with active_post="active"  %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Quản lý gói tin
            <div style="display:inline-block; text-align:right;float:right;">
                <a href="/admin/service/add" class="btn btn-info">Thêm gói tin mới</a>
            </div>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách gói tin
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="tbl_manager_users table table-striped table-bordered table-hover" id="tbl_manager_servies">
                        <thead>
                            <tr>
                                <th>Tên gói</th>
                                <th>Số lượng tin</th>
                                <th>Hạn sử dụng (Mỗi tin)</th>
                                <th>Giá tiền</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody id="content_table">
                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
</div>
{% endblock content %}
{% block data_table %}
<!-- DATA TABLE SCRIPTS -->
<script src="{% static '/admin/assets/js/dataTables/jquery.dataTables.js' %} "></script>
<script src="{% static '/admin/assets/js/dataTables/dataTables.bootstrap.js' %} "></script>
<script src="{% static '/admin/src/js/service/manager_service.js' %} "></script>
{% endblock %}